.SideDrawer {
    width: 100%;
    height: 200px;
     top:60px;
     left: 0;
     position: fixed;
     z-index: 100;
     background-color: red;
     box-sizing: border-box;
}

.Close {
    transform: translateY(-100vh);
}

.Open {
    transform:  translateY(0);
}