.Login {
  width: 90%;
  margin: 0 auto;
  margin-top: 90px;
  margin-bottom: 40px;

  
   
 }
 

 .NeedAccount {
   font-size: 12px!important;
   text-decoration: none;
   padding: 5px;
   color: sandybrown;
   margin-top: 10px;
 }
 