.form-container {
      width: 350px;
     padding: 30px 40px;
     color: white;
     border-radius: 5px;
     background: black;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     margin: 40px auto;
     max-width: 800px;
     background: linear-gradient(45deg,#201D1D , #282649 ,#38094d );
 }
 
 .form-container h5 {
     font-size: 15px;
 }

 .form-container input{
     font-size: 13px;
 }

 .form-container button{
     width: 100%;
     text-align: center;
     font-weight: 600;
     border-radius: 20px;
     font-family: Georgia, 'Times New Roman', Times, serif;
 }
 
 @media(min-width: 700px){
     .form-container {
         width: 600px;
         padding: 30px 150px;
     }
 }