.form-container {
   width: 300px;
    padding: 30px 40px;
    color: white;
    border-radius: 5px;
    background: black;
    z-index: 150;
    max-width: 800px;
    position: fixed;
    background: #3a0e8b;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3c1053, #91376d);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3c1053, #AA2FFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


@media(min-width: 700px){
    .form-container {
        width: 600px;
        padding: 30px 150px;
    }
}